body
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}
a
{
    text-decoration: none;
}

.content .main
{
    overflow: hidden;
}
.content .main .main_ul .pages
{
    position: absolute;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;

    -webkit-transition: 1s;
         -o-transition: 1s;
            transition: 1s;

    -webkit-background-size: cover;
            background-size: cover;
}
/*第一个页面*/
.content .main .main_ul .page1
{
    z-index: 11;

    background: url(../img/index.jpg);
    background-size: cover;
}

.content .main .logo
{
    position: relative;
    top: 25%;

    display: block;

    width: 80px;
    margin: 0 auto;
    /*-webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);*/
}
.content .main .betahouse_name
{
    font-family: Georgia, 'Times New Roman',
    'Microsoft YaHei', '微软雅黑',
    STXihei, '华文细黑',
    serif;
    font-size: 2.2em;

    position: relative;
    top: 34%;

    margin: 0 auto;

    text-align: center;
    /* 
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%); */
    letter-spacing: .4em;

    color: #fff;
    text-shadow: 2px 3px 1px #000;
}


/*第二个页面*/
.content .main .main_ul .page2
{
    z-index: 1;

    opacity: 0;
    background: url(../img/page2.jpg) no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}
.page2 .beta_do
{
    position: absolute;
    z-index: 10;
    top: 13%;
    right: 18%;

    width: 200px;
    height: 900px;

    transform: translateX(50%);
}


.page2 .beta_do li
{
    display: block;
    float: left;
    overflow: hidden;

    width: 140px;
    height: 140px;
    margin: 5px 0;

    transition: 1s box-shadow ease;

    border: 2px outset #f00;
    border-radius: .2em;
}
.page2 .beta_do li:hover
{
    box-shadow: 0 0 20px #eee;
}
.page2 .beta_do img
{
    width: 140px;
    height: 140px;
}
.page2 .changediv
{
    position: absolute;
    top: 15%;
    left: 40%;

    width: 500px;
    height: 520px;

    transform: translateX(-50%);
}
.page2 .changediv .changeImg
{
    position: relative;
    z-index: 3;

    display: none;

    width: 500px;
    height: 520px;

    opacity: 0;
    border: none;
}
.page2 .changediv .mark
{
    font-size: 1.4rem;
    font-weight: bold;

    position: absolute;
    top: 106%;
    left: 50%;

    display: block;

    padding: 6px 16px;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);

    opacity: 0;
    color: #ff0;
    border: 2px outset #f00;
    border-radius: 4px;
}

.page2 .changediv p
{
    font-size: 3em;
    line-height: 2em;

    position: absolute;
    z-index: 2;
    top: 20%;
    left: 10%;

    display: block;

    letter-spacing: .2em;

    color: #fff;
}
.page2 .changediv p em
{
    display: inline-block;

    margin: 0 -14px;

    text-shadow: 2px 2px 1px #22231F;

    opacity: 0;
}



/*第三个页面*/
.content .main .main_ul .page3
{
    z-index: -1;

    background: url('../img/ChMlWVXC-kyIWWE9AAOTs9bfQYoAAITugICjZoAA5PL219.jpg') no-repeat ;

    opacity: 0;
    -webkit-background-size: cover;
            background-size: cover;
    overflow: hidden;
    height: 100%;
}
.page3{
    position: relative;
}
.page3 .computer{
    /*background: url('../img/computer.png') no-repeat;*/
    position: absolute;
    left: 50%;
    top: 10%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}
.page3 .computer img{
    max-width: 700px;
    height: auto;
    margin: 0 auto;

}
.page3 .computer .beta_video{
    position: absolute;
    top: 4%;
    left: 12%;
    margin: 0 auto;
    width: 76%;
}
.page3 a{
    font-size: 2rem;
    letter-spacing: .6rem;
    position: relative;
    top: 75%;
    display: block;
    margin: 0 auto;
    width: auto;
    text-align: center;
    color: #F1F1EF;
    font-weight: bolder;
    transition: 1s ease;
    width: 75%;
}
.page3 a:hover{
    transform: scale(1.2);
    border-bottom: 1px solid #F1F1EF;
}


/*按钮样式*/
.content .main .control
{
    position: fixed;
    z-index: 100;
    top: 50%;

    width: 100%;
    width: 40px;
    height: 100px;
    height: 40px;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);

    border: 4px solid #c12d1c;
    border-radius: 2px;
    background: transparent;
}
.content .main .navPrev
{
    left: 2%;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);

    border-top-color: transparent;
    border-right-color: transparent;
}

.content .main .navNext
{
    right: 2%;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);

    border-bottom-color: transparent;
    border-left-color: transparent;
}
.content .main .navNext:hover
{
    border-color: #f0382f #f0382f transparent transparent;
}

.content .main .navPrev:hover
{
    border-color: transparent transparent #f0382f #f0382f ;
}

/*链接样式*/
.content .main .chaining
{
    position: absolute;
    z-index: 100;
    top: 5%;
    left: 6%;

    width: 200px;
    height: 30px;
}

.content .main .chaining li
{
    font-size: .8em;
    line-height: 20px;

    float: left;

    margin: 0 3%;

    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
    letter-spacing: .4em;
}

.content .main .chaining li a
{
    display: block;

    width: 50px;

    text-align: center;

    color: #fff;
}


.content .main .chaining li a:hover
{
    text-decoration: none;

    border-bottom: 1px solid #fff;
}
.content .main .about_us
{
    position: fixed;
    z-index: 100;
    top: 5%;
    right: 6%;

    width: 300px;
    height: 40px;

    transform: translate(50%);
}

.content .main .about_us li
{
    float: left;

    margin: 0 2%;

    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
}

.content .main .about_us li a
{
    font-size: .8em;
    line-height: 20px;

    display: block;

    width: 70px;

    text-align: center;
    letter-spacing: .3em;

    color: #fff;
}
.content .main .about_us li a:hover
{
    text-decoration: none;

    border-bottom: 1px solid #fff;
}




@media screen and (max-width: 1100px)
{
    .page2 .changediv
    {
        left: 24%;

        transform: translate(-30%);
    }
}

@media screen and (max-width: 900px)
{
    .page2 .beta_do
    {
        position: absolute;
        z-index: 10;
        top: 25%;
        right: 15%;

        width: 80px;
        height: 400px;

        transform: translateX(50%);
    }
    .page2 .beta_do li
    {
        display: block;
        float: left;
        overflow: hidden;

        width: 70px;
        height: 70px;
        margin: 5px 0;

        transition: 1s box-shadow ease;

        border: 1px outset #f00;
        border-radius: .2em;
    }
    .page2 .beta_do li:hover
    {
        box-shadow: 0 0 10px #eee;
    }
    .page2 .beta_do img
    {
        width: 70px;
        height: 70px;
    }
    .page2 .changediv
    {
        left: 28%;

        transform: translate(-30%);
    }
}
@media screen and (max-width: 700px)
{
    .main .page1 .betahouse_name
    {
        font-size: 1.5rem;

        top: 44%;
    }
    .main .page1 .logo
    {
        top: 30%;

        width: 60px;
    }
    .page2 .changediv p em
    {
        font-size: 1.4rem;

        letter-spacing: .4em;
    }
    .page2 .changediv p
    {
        font-weight: bolder;
        line-height: 40px;

        left: 20%;
    }
    .page2 .changediv
    {
        position: absolute;
        top: 15%;
        left: 50%;

        width: 90%;

        transform: translateX(-50%);
    }
    .page2 .beta_do
    {
        position: absolute;
        z-index: 10;
        top: 75%;
        left: 50%;

        width: 256px;
        height: 80px;

        transform: translateX(-50%);
    }

    .page2 .beta_do li
    {
        display: block;
        float: left;
        overflow: hidden;

        width: 50px;
        height: 50px;
        margin: 0 5px;

        transition: 1s box-shadow ease;

        border: 2px outset #f00;
        border-radius: 2px;
    }
    .page2 .beta_do img
    {
        width: 50px;
        height: 50px;
    }
    .page2 .changediv .changeImg
    {
        position: relative;
        z-index: 3;

        display: none;

        width: 100%;
        max-width: 500px;
        height: auto;
        margin: 0 auto;

        opacity: 0;
        border: none;
    }
    .page3 .computer img{
        max-width: 600px;
        height: auto;

    }
    .page3 a{
        font-size: 1.6rem;
        letter-spacing: .4rem;
        top: 70%;
    }
}
@media screen and (max-width: 500px)
{
    .page2 .changediv .mark
    {
        top: 96%;
    }
     .page3 .computer img{
        max-width: 500px;
        width: 100%;
        height: auto;

    }
    .page3 .computer {
        width: 100%;
        top: 20%;
    }
    
    /*.page3 .computer .beta_video{
        top: 2%;
        left: 10%
        width: 80%;
    }*/
    .page3 a{
        font-size: 1.1rem;
        letter-spacing: .3rem;
        top: 70%;
        width: 80%;
        min-width: 280px;
    }

}
